<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Metronic 单页模式</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta content="Metronic Shop UI description" name="description">
<meta content="Metronic Shop UI keywords" name="keywords">
<meta content="keenthemes" name="author">

<meta property="og:site_name" content="-CUSTOMER VALUE-">
<meta property="og:title" content="-CUSTOMER VALUE-">
<meta property="og:description" content="-CUSTOMER VALUE-">
<meta property="og:type" content="website">
<meta property="og:image" content="-CUSTOMER VALUE-">
<meta property="og:url" content="-CUSTOMER VALUE-">

<!--{$this->head()}-->
<!--{use class="modules\components\assets\frontend\ThemeAsset"}-->
<!--{ThemeAsset::register($this)|void}-->
<!--{use class="modules\components\assets\frontend\BaseScriptAsset"}-->
<!--{BaseScriptAsset::register($this)|void}-->