<!--{$this->beginPage()}-->
<!DOCTYPE html>
<html lang="<!--{$app->language}-->">
<head>
    <!--{include '../layouts/head.html'}-->
    <script type="text/javascript">
        var _callbacks = [];//注册加载后调用函数列表
        var baseUrl = '<!--{$app->request->getBaseUrl()}-->';
    </script>
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body>
<!--{$this->beginBody()}-->
    <!--{include '../layouts/nav.html'}-->
    <!--{$content}-->
    <!--{include '../layouts/footer.html'}-->
<!--{$this->endBody()}-->
<script type="text/javascript">
    $(function() {
        for(var i=0;i<_callbacks.length;i++){
            _callbacks[i]();
        }
    });
</script>
</body>
</html>
<!--{$this->endPage()}-->