<!--{$this->beginPage()}-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<!--{$app->language}-->">
<head>
    <meta charset="<!--{$app->charset}-->" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>- OPPO社区官网</title>
    <meta name="keywords" content="O粉预约服务,OPPO服务流程,O粉服务预约" />
    <meta name="description" content="OPPO粉预约服务诚邀您来体验预约服务您填写相关信息提交后，我们可以提前知悉储备相应的物料，提高服务效率，详情参见OPPO服务流程" />
    <!--{$this->head()}-->

</head>
<body>
<!--{$this->beginBody()}-->
    <!--{$content}-->
<!--{$this->endBody()}-->

</body>
</html>
<!--{$this->endPage()}-->
